:root {
  --color-primary: #00b4d8;
  --color-secondary: #90e0ef;
  --color-accent: #fb5607;
  --color-headings: #03045e;
  --color-body: #4a4e69;
  --color-border: #bbb;
  --border-radius: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Topography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  margin: 10px; /* Temporary margin*/
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.5s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.8rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

/* Icons */

.icon {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-secondary {
  fill: var(--color-secondary);
}

.icon-container {
  align-items: center;
  background-color: #d9edff;
  border-radius: 50%;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

/* Buttons */

.btn {
  padding: 2rem 3rem;
  border: 0;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #02a4c4;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #6ed7eb;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #c94506;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  border: 2px solid var(--color-headings);
  background-color: #fff;
}

.btn--outline:hover {
  color: #fff;
  background-color: var(--color-headings);
}

/* FIXME: insert the search icon inside search button  */
/* .btn--search {
  background-color: var(--color-accent);
  width: fit-content;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.btn--search svg.icon {
  fill: #fff;
  color: #fff;
  height: 1.8rem;
} */

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input */

.input {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-headings);
  outline: 0;
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #ccc;
}

.input-group {
  border: 0px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 50px var(--color-border),
    -10px -10px 50px var(--color-border);
  display: flex;
}

.input-group .input {
  flex-grow: 1;
  border: 0px;
}

.input-group .btn {
  margin: 5px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
