:root {
  --color-primary: #219ebc;
  --color-secondary: #8ecae6;
  --color-accent: #fb8500;
  --color-headings: #22223b;
  --color-body: #4a4e69;
}

/* Topography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.5s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.8rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

/* Icons */

.icon {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-secondary {
  fill: var(--color-secondary);
}

.icon-container {
  align-items: center;
  background-color: #d9edff;
  border-radius: 50%;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}
