<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Items</h2>
    <svg class="icon icon--primary collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates saepe
    assumenda deleniti eum, voluptatum necessitatibus optio porro omnis voluptas
    ratione, sed, commodi officia. Quisquam, deleniti perferendis. Voluptate
    molestiae hic nostrum.
  </div>
</div>
<script src="js/main.js"></script>
