<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--extended footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Resources</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Review Guide</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Solutions</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Client Portal</a></li>
          <li><a href="#">Reportes</a></li>
          <li><a href="#">Task management</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Services</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Cloud hosting</a></li>
          <li><a href="#">Cloud migration</a></li>
          <li><a href="#">Team hire</a></li>
          <li><a href="#">Cloud security</a></li>
          <li><a href="#">Domain names</a></li>
          <li><a href="#">Monthly web hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__icon">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Security Policy</a></li>
          <li><a href="#">Refferal</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo-new.svg" alt="" />
      <p class="footer__copyright">Copyright &copy 2024 AR Patel</p>
    </section>
  </div>
</footer>
