<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start and Managed updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis harum
      dignissimos perferendis sequi, minima optio molestias quam quasi.
      Assumenda, perspiciatis asperiores cupiditate adipisci laboriosam esse
      officiis labore magnam officia earum.
    </p>
  </div>
</div>
